@{
    ViewBag.Title = "Home Page";
}
<h1>Index Page</h1>
<input type="button" class="btn btn-danger"" value="click to fail" id="click-me"/>
<div id="welcome">

</div>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/SignalR.js">
       
    </script>
}

