@{
    ViewBag.Title = "Home Page";
}
<h1>Index Page</h1>
<div id="welcome">

</div>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/SignalR.js">
       
    </script>
}

